<section class="about">
    <img src="http://themes.templatescoder.com/pizzon/html/demo/1-0/images/menu-bottom-bg.png" class='w-full divider'/> 
    <div class="grid grid-cols-2 gap4">
        <div>
            <h2>Nosotros</h2>
        </div>
        <div>

        </div>
    </div>
</section>

<style>
    section {
        background-color: #000000;
    }

    .divider {
        transform: rotate(180deg);
    }
</style>