<!DOCTYPE html>
<html lang="es-AR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content={Astro.generator} />
    <title>Comiditapp</title>
</head>
<body>
    <slot />
</body>
</html>

<style is:global>
    @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&family=Roboto:wght@300;400;500&display=swap');

    body {
        font-family: 'Roboto', sans-serif;;
    }

    h1, h2, h3, h4, h5 {
        font-family: 'Raleway', sans-serif;
    }
</style>