<!DOCTYPE html>
<html lang="es-AR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content={Astro.generator} />
    <title>Comiditapp</title>
</head>
<body>
    <slot />
</body>
</html>

<style is:global>
    @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;700&display=swap');

    html {
        scroll-behavior: smooth;
    }
    body {
        font-family: 'Josefin Sans', sans-serif;
    }
</style>